.gridcontainer {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 80vh;
}

.grid-item {
    border: 1px solid #ccc;    /* Optional: Border for items */
    padding: 20px;             /* Optional: Padding inside items */
    text-align: center;    
    justify-content: center;  
    display: flex;
}

.item1 {
    // background-color: yellow;
    grid-column: 1 / 4;
    grid-row: 1 /2;
}
  
.item2 {
    // background-color: orange;   
    grid-column: 1 / 4;  
    grid-row: 1 /2;
}

.item3 {
    // background-color: green;
    grid-column: 1 / 4;
    grid-row: 1 /2;
}

.item4 {
    // background-color: gold;
}

.item5 {
    width: 55vw;
    height: 65vh;
}

.item6 {
    // background-color: silver;
}

.item7 {
    // background-color: red;
}

.item8 {
    // background-color: blue;
}

.item9 {
    // background-color: violet;
}

.drobdowncontainer {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.datacontainer {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.cardcontainer {
    padding: 10px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    margin: 10px;

}

.valuetext {
    font-size: 16px;
    font-weight: bold;
}

.pieChartStyle {
    // display: flex;
    height: 170px;
    width: 250px;
}

.barChartStyle {
    height: 150px;
    width: 250px;
}
.dashboard-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    &-controls {
        display: flex;
        width: 80%;
        justify-content: flex-end;
        
        button{
            margin-left: 1rem;
        }
    }
}